html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
}

.main-container {
  padding: 1rem 0;
}

.main-container .alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.sidebar {
  width: 450px;
}

.main-content {
  height: 100%;
}

.snippets-list {
  height: calc(100vh - 94px);
  overflow-y: scroll;
}

.snippet-show {
  height: calc(100vh - 94px);
  overflow-y: scroll;
}

.new-snippet .form-row .remove-btn {
  z-index: 999;
  top: 0;
  right: 0;
  display: none;
}

.new-snippet .form-row:hover .remove-btn {
  display: block;
}

.modal .commit-message-input {
  height: 38px;
  width: 400px;
}